{% extends 'shared/base.html' %} 
{% block content %} 
{% load staticfiles %} 
{%block css %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %}
<div class="home">
  <h1>Welcome to Time Log!</h1>
  <div>
    <form action="{% url 'timelog4app:login' %}">
      {% csrf_token %}
      <h3>
        Old Friends:
        <button type="submit">Login</button>
      </h3>
    </form>
  </div>
  <div>
    <form action="{% url 'timelog4app:register' %}">
      {% csrf_token %}
      <h3>
        New Friends:
        <button type="submit">Register</button>
      </h3>
    </form>
  </div>
</div>
{% endblock %}
