{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Time Log</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />

    {% block css %} {% endblock %}
  </head>

  <body>
    <div class="white">
      <nav id="site-nav">
        <ul class="navList">
          <li class="navList__route">
            <a href="{% url 'timelog4app:activities' %}">Activities</a>
          </li>
          <li class="navList__route">
            <a href="{% url 'timelog4app:time_allocations' %}">Log</a>
          </li>
          <div class="logout">

            <li class="navList__route">
              <a href="{% url 'timelog4app:logout' %}">Logout</a>
            </li>
          </div>
        </ul>
      </nav>
    </div>

    <main content="main-content">
      {% block content %} {% endblock %}
    </main>

    {% block scripts %} {% endblock scripts %}
  </body>
</html>
