{% extends 'shared/base.html' %} {% block content %} 
{% load staticfiles %} 
{%block css %}
<link rel="stylesheet" href="{% static 'styles/allocations.css' %}" />
{% endblock %}

<table style="width:100%">
  <tr>
    <th>Activity</th>
    <th>Start Time</th>
    <th>Stop Time</th>
    <th>Action</th>
    <th>
      <form action="{% url 'timelog4app:time_allocations' %}" method="GET">
        See Log For
        <input name="desired_date" type="text" value="MM/DD/YY" />
        <input type="submit" value="Apply" />
      </form>
    </th>
  </tr>
  {% for each in all_time_allocations %}

  <tr>
    <td>{{ each.name }}</td>
    <td>{{ each.start_time }}</td>
    {% if each.stop_time is not None %}
    <td>{{ each.stop_time }}</td>
    {% else %}
    <td>--</td>
    {% endif %}

    <td>
      {% if each.stop_time is not None %}
      <form action="{% url 'timelog4app:time_allocations' %}" method="post">
        {% csrf_token %}

        <button>Delete</button>
        <input name="id_to_delete" type="hidden" value="{{ each.id }}" />
        <input name="actual_method" type="hidden" value="DELETE" />
      </form>
      {% else %}
      <form action="{% url 'timelog4app:time_allocations'   %}" method="post">
        {% csrf_token %}
        <button>Stop</button>
        <input name="activity_id_edited" type="hidden" value="{{ each.id }}" />
        <input name="actual_method" type="hidden" value="PUT" />
      </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  <tfoot>
    <tr></tr>
  </tfoot>
</table>
{% endblock %}
