{% extends 'shared/base.html' %} {% block content %}

<h1>{{ activity.name }}</h1>
{% if totals.days is 0 and totals.hours is 0 %}
<h3>
  You've performed this activity for {{ totals.minutes }} minute(s)
</h3>
{% elif totals.days is 0 %}
<h3>
  You've performed this activity for {{ totals.hours }} hour(s) and
  {{ totals.minutes }} minute(s)
</h3>
{% else %}
<h3>
  You've performed this activity for {{ totals.days }} day(s),
  {{ totals.hours }} hour(s), and
  {{ totals.minutes }} minute(s)
</h3>
{% endif %}
<form action="{% url 'timelog4app:activity' activity.id %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="actual_method" value="DELETE" />
  <button>Delete</button>
</form>
<form
  action="{% url 'timelog4app:activity_edit_form' activity.id %}"
  method="GET"
>
  {% csrf_token %}
  <button>Edit</button>
</form>

{% endblock %}
