{% extends 'shared/base.html' %}
{% block content %} 
{% load staticfiles %} 
{% block css %}
<link rel="stylesheet" href="{% static 'styles/activities.css' %}" />
{% endblock %}

<h1>Activities</h1>

<a href="{% url 'timelog4app:activity_form' %}">Add Activity</a>
<div class="activities">
  {% for activity in all_activities %}
  <div class="activity">
    <br />
    <a
      class="activity__name"
      href="{% url 'timelog4app:activity' activity.id %}"
    >
      {{ activity.name }}
    </a>
    <form action="{% url 'timelog4app:time_allocations'   %}" method="post">
      {% csrf_token %}
      <button>Start</button>
      <input name="activity_id" type="hidden" value="{{ activity.id }}" />
    </form>

    <br />
  </div>

  {% endfor %}
</div>
{% endblock %}
