{% extends 'shared/base.html' %} {% block content %}
<h1>Activities</h1>

<a href="{% url 'timelog4app:activity_form' %}">Add Activity</a>
<div>
  {% for activity in all_activities %}
  <br />
  <a href="{% url 'timelog4app:activity' activity.id %}">
    {{ activity.name }}
  </a>
  <form action="{% url 'timelog4app:time_allocations'   %}" method="post">
    {% csrf_token %}
    <button>Start</button>
  </form>
  <button>Stop</button>
  <br />

  <input name="id" type="hidden" value="{{ activity.id }}" />
  {% endfor %}
</div>
{% endblock %}
